{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="en"{% endblock %}

{% block head %}
	<title>Forum</title>

	{% block styles %}
	{{ super() }}
	<link href="{{url_for('static',filename='css/stylesheet.css')}}" rel="stylesheet">
	{% endblock styles %}
{% endblock head %}

{% block body %}
{{ super() }}

	<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
    	<img src="{{url_for('static',filename='img/codered-logo.png')}}" width="80" height="80" class="d-inline-block align-top" alt="">
    	<a class="navbar-brand mr-3">Welcome to CodeRed</a>
    	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
		    <span class="navbar-toggler-icon"></span>
		</button>

    	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    		<ul class="navbar-nav ml-auto">
				<a class="nav-link" href="{{url_for('forum')}}">Forum</a>
				<a class="nav-link" href="{{url_for('post')}}">Create a Post</a>
				<a class="nav-link" href="#">Report</a>
				<a class="nav-link" href="{{url_for('resources')}}">Resources</a>
				<a class="nav-link" href="{{url_for('about')}}"">About</a>
    		</ul>
    	</div>
	</nav>

	<main role="main" class="container forum-page mt-5">
		<div class="jumbotron pt-4 pb-5 text-center">
			<h1> Formus </h1>

			{% for post in posts.values() %}
				<div class="container forum-posts">
					<div class="post-details">
						<ul> Post #: {{post["post_id"]}} </ul>
						<ul> Title:  {{post['title']}} </ul>
						<ul> Category: {{post['category']}} </ul>
						<ul> Purpose: {{post['purpose']}} </ul>
						<ul> Description: {{post['text']}} </ul>
					</div>
				</div>
				<div class="border-top my-3 mx-3 mb-3"></div>
			{% endfor %}

		</div>

		<iframe
		    width="350"
		    height="430"
		    src="https://console.dialogflow.com/api-client/demo/embedded/3e1b4b8f-4a23-4f7b-9d64-f596e4d8d5d0"
		</iframe>
	</main>
{% endblock %}