{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="en"{% endblock %}

{% block head %}
	<title>Forum</title>

	{% block styles %}
	{{ super() }}
	<link href="{{url_for('static',filename='css/stylesheet.css')}}" rel="stylesheet">
	{% endblock styles %}
{% endblock head %}

{% block body %}
{{ super() }}

	<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
    	
    	<a class="navbar-brand">Welcome to XYZ</a>
    	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
		    <span class="navbar-toggler-icon"></span>
		</button>

    	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    		<ul class="navbar-nav ml-auto">
				<a class="nav-link" href="#">Home</a>
				<a class="nav-link" href="#">Forum</a>
				<a class="nav-link" href="#">Report</a>
				<a class="nav-link" href="#">About</a>

				<ul class="nav-item dropdown pl-1">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Resources 
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Hotlines </a>
						<a class="dropdown-item" href="#">Crisis Centers </a>
						<a class="dropdown-item" href="#">Professional Help </a>
						<a class="dropdown-item" href="#">Support Group </a>
						<a class="dropdown-item" href="#">Statistics </a>

						{# Add Automatic
							
						{% for staff in staffmembers %}
							{%if staff.role != "pilot" %}
						<a class="dropdown-item" href="#"> {{staff.name}} </a>	
							{% endif %}
						{% endfor %}#}
					</div>
				</ul>
    		</ul>
    	</div>
	</nav>

	<main role="main" class="container request-page mt-5">
		<div class="jumbotron pt-4 pb-5 text-center">
			<h1> Forms </h1>


			{% for post in posts.values() %}
				<div class="container forum-posts">
					<div class="post-details">
						<ul> Post #: {{post["post_id"]}} </ul>
						<ul> Title:  {{post['title']}} </ul>
						<ul> Category: {{post['category']}} </ul>
						<ul> Purpose: {{post['purpose']}} </ul>
						<ul> Description: {{post['text']}} </ul>
					</div>
				</div>
			{% endfor %}

		</div>
	</main>
{% endblock %}